<%= form_with(model: poll, class: "contents") do |form| %>
  <% if poll.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
        <% poll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline">

    <%= form.label :title %>
    <%= form.text_field :title %>

    <%= form.label :close_date %>
    <%= form.date_field :close_date %>

    <%= form.label :password %>
    <%= form.text_field :password %>

    <div id="options">
      <%= render partial: 'option_fields', locals: { form: form } %>
    </div>

    <%= button_to 'Add Option', '#', id: 'add-option' %>

    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
